In [45]:
import pandas as pd 
import numpy as np

In [182]:
pd.set_option('display.max_columns', None)

In [3]:
!ls lentahack

20210518_checks.csv	20210518_uplift.csv  20210521_sample_submission.csv
20210518_hierarchy.csv	20210521_offers.csv

## Loading Data

### Loading Checks

In [4]:
checks_df = pd.read_csv('./lentahack/20210518_checks.csv')
checks_df.shape, checks_df.columns

((21479259, 12),
 Index(['client_id', 'day', 'shop_id', 'check_id', 'time', 'sku', 'promo_id',
        'check_pos', 'num_sales', 'supplier_price', 'selling_price',
        'region_name'],
       dtype='object'))

In [6]:
checks_df['date'] = pd.to_datetime(checks_df['day'], format="%Y%m%d")

In [9]:
checks_df.set_index('date', inplace=True)

In [10]:
checks_df.index[:3]

DatetimeIndex(['2019-12-30', '2019-12-30', '2019-12-30'], dtype='datetime64[ns]', name='date', freq=None)

In [11]:
checks_df.head()

,client_id,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,selling_price,region_name
date,,,,,,,,,,,,
2019-12-30,d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b17c870027bb4a22e3aedb971bc00def,b3deb0286313f0b888c0eac49580cc23,1,5.0,133.40,249.45,152f1b77a32508570e2745daf9ce7aec
2019-12-30,d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b9ef00e971d0fb459a765708efba70c0,680a96609351230ed00e1d1090371cbc,2,1.0,96.77,118.99,152f1b77a32508570e2745daf9ce7aec
2019-12-30,d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,5,2.0,2.34,7.58,152f1b77a32508570e2745daf9ce7aec
2019-12-30,d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b25e0d42165d246d23cbf4d3efcdf583,7215ee9c7d9dc229d2921a40e899ec5f,4,1.0,23.59,39.99,152f1b77a32508570e2745daf9ce7aec
2019-12-30,d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,a537d2eef30d47f9b11d655421ca93fb,05c93d4fa9bdbe70b5d2204ce9548ca9,3,1.0,24.02,39.99,152f1b77a32508570e2745daf9ce7aec

## Loading Offers

In [20]:
offers_df = pd.read_csv('./lentahack/20210521_offers.csv')
offers_df['start_date'] = pd.to_datetime(offers_df['start_date'], format="%Y%m%d")
offers_df['end_date'] = pd.to_datetime(offers_df['end_date'], format="%Y%m%d")
offers_df.shape, offers_df.columns

((9776, 6),
 Index(['Promo_type', 'Offer_ID', 'sku', 'start_date', 'end_date',
        'train_test_group'],
       dtype='object'))

In [ ]:
offers_df

In [62]:
len(offers_df_orig['Offer_ID'].unique())

889

In [60]:
offers_df.head()

,Promo_type,Offer_ID,sku,start_date,end_date,train_test_group,dates
0,Facades,F26,71c770923102af052f64c6036c9dd590,2020-02-13,2020-02-19,train,"DatetimeIndex(['2020-02-13', '2020-02-14', '20..."
1,Facades,F2,e87788b585ead792a4d40f7de18f2f76,2020-01-02,2020-01-08,train,"DatetimeIndex(['2020-01-02', '2020-01-03', '20..."
2,Facades,F9,5ae92b5e465d630285677e80b43fe5f7,2020-01-16,2020-01-22,train,"DatetimeIndex(['2020-01-16', '2020-01-17', '20..."
3,Facades,F45,0790b472112a765339f0e5c3f66816ee,2020-03-19,2020-03-25,train,"DatetimeIndex(['2020-03-19', '2020-03-20', '20..."
4,Facades,F191,e87788b585ead792a4d40f7de18f2f76,2020-11-12,2020-11-18,test,"DatetimeIndex(['2020-11-12', '2020-11-13', '20..."

In [132]:
offers_df['start_date'] = pd.to_datetime(offers_df['start_date'], format="%Y%m%d")
offers_df['end_date'] = pd.to_datetime(offers_df['end_date'], format="%Y%m%d")

In [51]:
offers_df['dates'] = offers_df.apply(lambda row: pd.date_range(row['start_date'], row['end_date'], freq='d'), axis=1)

In [54]:
# exploded offes by day, so 
offers_df_by_day = offers_df.explode('dates').reset_index().rename(columns={'dates': 'date'})

In [55]:
offers_df_by_day.shape

(134703, 8)

In [59]:
len(offers_df_by_day['Offer_ID'].unique())

889

In [69]:
# some SKUs may participate in more than 1 offer on agiven day 
offers_df_by_day[['date', 'sku']].duplicated().value_counts()

False    133980
True        723
dtype: int64

In [70]:
offers_df_by_day[offers_df_by_day[['date', 'sku']].duplicated()].head()

,index,Promo_type,Offer_ID,sku,start_date,end_date,train_test_group,date
962,91,Facades,F14,5203102c86af0924829cb4d79c7f160b,2020-01-23,2020-01-29,train,2020-01-23
963,91,Facades,F14,5203102c86af0924829cb4d79c7f160b,2020-01-23,2020-01-29,train,2020-01-24
964,91,Facades,F14,5203102c86af0924829cb4d79c7f160b,2020-01-23,2020-01-29,train,2020-01-25
965,91,Facades,F14,5203102c86af0924829cb4d79c7f160b,2020-01-23,2020-01-29,train,2020-01-26
966,91,Facades,F14,5203102c86af0924829cb4d79c7f160b,2020-01-23,2020-01-29,train,2020-01-27

In [74]:
offers_df_by_day[(offers_df_by_day['sku'] == '5203102c86af0924829cb4d79c7f160b') 
                 & (offers_df_by_day['date'] == pd.to_datetime('2020-01-23'))]

,index,Promo_type,Offer_ID,sku,start_date,end_date,train_test_group,date
948,89,Billboards,B8,5203102c86af0924829cb4d79c7f160b,2020-01-23,2020-01-29,train,2020-01-23
962,91,Facades,F14,5203102c86af0924829cb4d79c7f160b,2020-01-23,2020-01-29,train,2020-01-23

In [68]:
# all ('Offer_ID', 'date', 'sku') triplets are unique 
offers_df_by_day[['Offer_ID', 'date', 'sku']].duplicated().value_counts()

False    134703
dtype: int64

In [116]:
offers_df_by_day['duration'] = offers_df_by_day['end_date'] - offers_df_by_day['start_date']

In [117]:
offers_df_by_day['duration'].head()

0   6 days
1   6 days
2   6 days
3   6 days
4   6 days
Name: duration, dtype: timedelta64[ns]

In [122]:
offers_df_by_day['duration'].value_counts().sort_values()

3 days         8
9 days        10
5 days        24
7 days       184
48 days      245
42 days      344
10 days      418
19 days      820
41 days     1218
35 days     1836
14 days     1845
21 days     3014
27 days     5768
28 days     7018
6 days     19236
20 days    21189
13 days    71526
Name: duration, dtype: int64

In [120]:
offers_df_by_day['duration'].iloc[962]

Timedelta('6 days 00:00:00')

In [119]:
pd.to_datetime('2019-12-12') - offers_df_by_day['duration'].iloc[962]

Timestamp('2019-12-06 00:00:00')

In [82]:
offers_df_by_day.to_csv('../offers_df_by_day.csv' ,index=False)

In [131]:
offers_df_by_day = pd.read_csv('../offers_df_by_day.csv')
offers_df_by_day.shape, offers_df_by_day.columns

/anaconda/envs/py38_default/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

((134703, 8),
 Index(['index', 'Promo_type', 'Offer_ID', 'sku', 'start_date', 'end_date',
        'train_test_group', 'date'],
       dtype='object'))

## Loading Hierarchy

In [4]:
hierarchy_df = pd.read_csv('./lentahack/20210518_hierarchy.csv')
hierarchy_df.shape, hierarchy_df.columns

((80406, 5),
 Index(['sku', 'hierarchy_level1', 'hierarchy_level2', 'hierarchy_level3',
        'hierarchy_level4'],
       dtype='object'))

In [126]:
len(hierarchy_df['sku'].unique())

80406

In [124]:
len(hierarchy_df['hierarchy_level2'].unique())

65

In [125]:
len(hierarchy_df['hierarchy_level3'].unique())

412

In [127]:
len(hierarchy_df['hierarchy_level4'].unique())

2119

In [ ]:
[   h1_1:num_sku       h1_2:num_sku ]

## Loading Uplift

In [5]:
uplift_df = pd.read_csv('./lentahack/20210518_uplift.csv')
uplift_df.shape, uplift_df.columns

((740, 2), Index(['Offer_ID', 'UpLift'], dtype='object'))

## Merge Checks and Offers

### Load Merged Checks and All

In [7]:
!ls lentahack

20210518_checks.csv	20210521_offers.csv		offers_df_by_day.csv
20210518_hierarchy.csv	20210521_sample_submission.csv
20210518_uplift.csv	checks_ofr_df.csv

In [8]:
checks_ofr_df = pd.read_csv('./lentahack/checks_ofr_df.csv')

/anaconda/envs/py38_default/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (14,15,16,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [208]:
checks_ofr_df.dtypes

client_id                   object
date                datetime64[ns]
day                          int64
shop_id                     object
check_id                    object
time                        object
sku                         object
promo_id                    object
check_pos                    int64
num_sales                  float64
supplier_price             float64
selling_price              float64
region_name                 object
index                      float64
Promo_type                  object
Offer_ID                    object
start_date          datetime64[ns]
end_date                    object
train_test_group            object
hierarchy_level1            object
hierarchy_level2            object
hierarchy_level3            object
hierarchy_level4            object
UpLift                     float64
dtype: object

In [209]:
checks_ofr_df[['date', 'start_date']].iloc[3:5]

        date start_date
3 2019-12-30        NaT
4 2019-12-30        NaT

In [207]:
#checks_ofr_df['date'] = pd.to_datetime
checks_ofr_df['date'] = pd.to_datetime(checks_ofr_df['date'], format="%Y-%m-%d")
checks_ofr_df['start_date'] = pd.to_datetime(checks_ofr_df['start_date'], format="%Y-%m-%d")

In [9]:
checks_ofr_df.shape, checks_ofr_df.columns

((21512276, 24),
 Index(['client_id', 'date', 'day', 'shop_id', 'check_id', 'time', 'sku',
        'promo_id', 'check_pos', 'num_sales', 'supplier_price', 'selling_price',
        'region_name', 'index', 'Promo_type', 'Offer_ID', 'start_date',
        'end_date', 'train_test_group', 'hierarchy_level1', 'hierarchy_level2',
        'hierarchy_level3', 'hierarchy_level4', 'UpLift'],
       dtype='object'))

In [76]:
checks_df.shape, offers_df_by_day.shape

((21479259, 12), (134703, 8))

In [77]:
checks_ofr_df = checks_df.merge(offers_df_by_day, on=['sku', 'date'], how="outer")
checks_ofr_df.shape

(21567534, 19)

In [83]:
21567534 - 21479259

88275

In [84]:
checks_ofr_df.isnull().sum().sort_values(ascending=False)

train_test_group    20363690
end_date            20363690
start_date          20363690
Offer_ID            20363690
Promo_type          20363690
index               20363690
supplier_price         55258
region_name            55258
selling_price          55258
client_id              55258
check_pos              55258
promo_id               55258
time                   55258
check_id               55258
shop_id                55258
day                    55258
num_sales              55258
date                       0
sku                        0
dtype: int64

In [85]:
21479259 - ( 20363690+55258)

1060311

In [99]:
checks_ofr_df_left = checks_df.merge(offers_df_by_day, on=['sku', 'date'], how="left")
checks_ofr_df_left.shape, checks_df.shape

((21512276, 19), (21479259, 12))

In [87]:
checks_ofr_df_left.isnull().sum().sort_values(ascending=False)

train_test_group    20363690
end_date            20363690
start_date          20363690
Offer_ID            20363690
Promo_type          20363690
index               20363690
supplier_price             0
region_name                0
selling_price              0
client_id                  0
date                       0
check_pos                  0
promo_id                   0
sku                        0
time                       0
check_id                   0
shop_id                    0
day                        0
num_sales                  0
dtype: int64

In [88]:
(21479259 - 20363690)/21479259

0.051937033768250575

In [90]:
checks_ofr_df_left[~checks_ofr_df_left['Promo_type'].isnull()].head()

,client_id,date,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,selling_price,region_name,index,Promo_type,Offer_ID,start_date,end_date,train_test_group
20,0c75c5e1422c6a716fde39ce44f1f8ef,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,77c585133342e38989226fbcbc381eb3,08:17:49,1cbaaeb2212bbbe9d458ca9b81d74db7,86b055ff16c357a59decc2d7d32f2cc7,7,2.856,108.90,55.68,152f1b77a32508570e2745daf9ce7aec,782.0,Billboards,B3,2019-12-26,2020-01-08,train
21,0c75c5e1422c6a716fde39ce44f1f8ef,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,77c585133342e38989226fbcbc381eb3,08:17:49,1cbaaeb2212bbbe9d458ca9b81d74db7,86b055ff16c357a59decc2d7d32f2cc7,7,2.856,108.90,55.68,152f1b77a32508570e2745daf9ce7aec,7916.0,Billboards,B120,2019-12-26,2020-01-08,train
22,0c75c5e1422c6a716fde39ce44f1f8ef,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,77c585133342e38989226fbcbc381eb3,08:17:49,1cbaaeb2212bbbe9d458ca9b81d74db7,86b055ff16c357a59decc2d7d32f2cc7,2,3.276,124.91,63.87,152f1b77a32508570e2745daf9ce7aec,782.0,Billboards,B3,2019-12-26,2020-01-08,train
23,0c75c5e1422c6a716fde39ce44f1f8ef,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,77c585133342e38989226fbcbc381eb3,08:17:49,1cbaaeb2212bbbe9d458ca9b81d74db7,86b055ff16c357a59decc2d7d32f2cc7,2,3.276,124.91,63.87,152f1b77a32508570e2745daf9ce7aec,7916.0,Billboards,B120,2019-12-26,2020-01-08,train
31,f0da4fc17f024f4f23cfff3b56faac84,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,8d38ccf03c9d8a980c991c88fb98bcc2,11:31:16,1cbaaeb2212bbbe9d458ca9b81d74db7,86b055ff16c357a59decc2d7d32f2cc7,4,3.036,115.76,59.19,152f1b77a32508570e2745daf9ce7aec,782.0,Billboards,B3,2019-12-26,2020-01-08,train

In [91]:
len(checks_ofr_df_left['Offer_ID'].unique())

741

In [92]:
len(offers_df['Offer_ID'].unique()) - len(checks_ofr_df_left['Offer_ID'].unique())

148

In [100]:
checks_ofr_df_left.shape

(21512276, 19)

In [101]:
checks_ofr_df_left = checks_ofr_df_left.merge(hierarchy_df, on='sku', how="left")
checks_ofr_df_left.shape

(21512276, 23)

In [102]:
checks_ofr_df_left = checks_ofr_df_left.merge(uplift_df, on='Offer_ID', how="left")
checks_ofr_df_left.shape

(21512276, 24)

In [103]:
checks_ofr_df_left.to_csv('../checks_ofr_df.csv', index=False)

In [104]:
checks_ofr_df_left.head()

,client_id,date,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,...,Promo_type,Offer_ID,start_date,end_date,train_test_group,hierarchy_level1,hierarchy_level2,hierarchy_level3,hierarchy_level4,UpLift
0,d9da50b77962ad6401d0527db5b65b04,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b17c870027bb4a22e3aedb971bc00def,b3deb0286313f0b888c0eac49580cc23,1,5.0,...,NaN,NaN,NaT,NaT,NaN,44a7b825383402ed937a15fb8a5bb12a,ea5d2f1c4608232e07d3aa3d998e5135,d994e3728ba5e28defb88a3289cd7ee8,b84633d3396f28a04889d2e5a41c7b0b,NaN
1,d9da50b77962ad6401d0527db5b65b04,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b9ef00e971d0fb459a765708efba70c0,680a96609351230ed00e1d1090371cbc,2,1.0,...,NaN,NaN,NaT,NaT,NaN,44a7b825383402ed937a15fb8a5bb12a,d645920e395fedad7bbbed0eca3fe2e0,6693a7aacb8a2e74c6f5fe91bc39864b,878b4140ebdb1b79f378d2cf0cc3245c,NaN
2,d9da50b77962ad6401d0527db5b65b04,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,5,2.0,...,NaN,NaN,NaT,NaT,NaN,44a7b825383402ed937a15fb8a5bb12a,d645920e395fedad7bbbed0eca3fe2e0,bd3ef5c19067fe179f71c8b86ea4b39b,5bf563e8f99ed820f322704e4898df6b,NaN
3,d9da50b77962ad6401d0527db5b65b04,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b25e0d42165d246d23cbf4d3efcdf583,7215ee9c7d9dc229d2921a40e899ec5f,4,1.0,...,NaN,NaN,NaT,NaT,NaN,44a7b825383402ed937a15fb8a5bb12a,d645920e395fedad7bbbed0eca3fe2e0,fbfe5ba2ce3309f522c335e949435612,3162b14a97ef895f688e36026574a6d4,NaN
4,d9da50b77962ad6401d0527db5b65b04,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,a537d2eef30d47f9b11d655421ca93fb,05c93d4fa9bdbe70b5d2204ce9548ca9,3,1.0,...,NaN,NaN,NaT,NaT,NaN,44a7b825383402ed937a15fb8a5bb12a,d645920e395fedad7bbbed0eca3fe2e0,fbfe5ba2ce3309f522c335e949435612,3162b14a97ef895f688e36026574a6d4,NaN

In [ ]:
checks_ofr_df_left.columns

In [106]:
checks_ofr_df_left[~checks_ofr_df_left['Offer_ID'].isnull()].head()

,client_id,date,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,...,Promo_type,Offer_ID,start_date,end_date,train_test_group,hierarchy_level1,hierarchy_level2,hierarchy_level3,hierarchy_level4,UpLift
20,0c75c5e1422c6a716fde39ce44f1f8ef,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,77c585133342e38989226fbcbc381eb3,08:17:49,1cbaaeb2212bbbe9d458ca9b81d74db7,86b055ff16c357a59decc2d7d32f2cc7,7,2.856,...,Billboards,B3,2019-12-26,2020-01-08,train,cc9284597026dcc021735c0970ca0c93,6f4922f45568161a8cdf4ad2299f6d23,645098b086d2f9e1e0e939c27f9f2d6f,d66a5517fea10ab5d81ee32912ef07e6,0.811516
21,0c75c5e1422c6a716fde39ce44f1f8ef,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,77c585133342e38989226fbcbc381eb3,08:17:49,1cbaaeb2212bbbe9d458ca9b81d74db7,86b055ff16c357a59decc2d7d32f2cc7,7,2.856,...,Billboards,B120,2019-12-26,2020-01-08,train,cc9284597026dcc021735c0970ca0c93,6f4922f45568161a8cdf4ad2299f6d23,645098b086d2f9e1e0e939c27f9f2d6f,d66a5517fea10ab5d81ee32912ef07e6,0.811516
22,0c75c5e1422c6a716fde39ce44f1f8ef,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,77c585133342e38989226fbcbc381eb3,08:17:49,1cbaaeb2212bbbe9d458ca9b81d74db7,86b055ff16c357a59decc2d7d32f2cc7,2,3.276,...,Billboards,B3,2019-12-26,2020-01-08,train,cc9284597026dcc021735c0970ca0c93,6f4922f45568161a8cdf4ad2299f6d23,645098b086d2f9e1e0e939c27f9f2d6f,d66a5517fea10ab5d81ee32912ef07e6,0.811516
23,0c75c5e1422c6a716fde39ce44f1f8ef,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,77c585133342e38989226fbcbc381eb3,08:17:49,1cbaaeb2212bbbe9d458ca9b81d74db7,86b055ff16c357a59decc2d7d32f2cc7,2,3.276,...,Billboards,B120,2019-12-26,2020-01-08,train,cc9284597026dcc021735c0970ca0c93,6f4922f45568161a8cdf4ad2299f6d23,645098b086d2f9e1e0e939c27f9f2d6f,d66a5517fea10ab5d81ee32912ef07e6,0.811516
31,f0da4fc17f024f4f23cfff3b56faac84,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,8d38ccf03c9d8a980c991c88fb98bcc2,11:31:16,1cbaaeb2212bbbe9d458ca9b81d74db7,86b055ff16c357a59decc2d7d32f2cc7,4,3.036,...,Billboards,B3,2019-12-26,2020-01-08,train,cc9284597026dcc021735c0970ca0c93,6f4922f45568161a8cdf4ad2299f6d23,645098b086d2f9e1e0e939c27f9f2d6f,d66a5517fea10ab5d81ee32912ef07e6,0.811516

In [ ]:
%who

In [112]:
checks_ofr_df_left['train_test_group'].value_counts()

train    1148586
Name: train_test_group, dtype: int64

In [113]:
offers_df['train_test_group'].value_counts()

train    7716
test     2060
Name: train_test_group, dtype: int64

In [114]:
len(offers_df[offers_df['train_test_group'] == 'test']['Offer_ID'].unique())

149

In [115]:
len(offers_df[offers_df['train_test_group'] == 'train']['Offer_ID'].unique())

740

In [110]:
len(offers_df['Offer_ID'].unique())

889

In [109]:
len(checks_ofr_df_left['Offer_ID'].unique())

741

In [111]:
889 - 741

148

In [107]:
uplift_df['UpLift'].shape

(740,)

In [108]:
uplift_df['UpLift'].value_counts().shape

(733,)

## Features

1. time/duration/season based features 
1. hierarchies as categories features 
1. is in other offers?
1. `$` and units agg by pred-period
1. `$` and units agg by "baseline" period (prev 30 days?)

In [21]:
offers_df.shape, offers_df.columns

((9776, 6),
 Index(['Promo_type', 'Offer_ID', 'sku', 'start_date', 'end_date',
        'train_test_group'],
       dtype='object'))

In [22]:
offers_df['train_test_group'].value_counts()

train    7716
test     2060
Name: train_test_group, dtype: int64

### SKU/ Hierarchy Based Feats

In [23]:
offers_df = offers_df.merge(hierarchy_df, on='sku', how='left')
offers_df.shape, offers_df.columns

(9776, 10)

In [24]:
offers_df.columns

Index(['Promo_type', 'Offer_ID', 'sku', 'start_date', 'end_date',
       'train_test_group', 'hierarchy_level1', 'hierarchy_level2',
       'hierarchy_level3', 'hierarchy_level4'],
      dtype='object')

In [25]:
offers_df_agg = offers_df.groupby(['Offer_ID', 'Promo_type', 'start_date', 'end_date', 'train_test_group']).agg({'sku': lambda x: list(x),
                                    'hierarchy_level1': lambda x: list(x), 
                                   'hierarchy_level2': lambda x: list(x), 
                                   'hierarchy_level3': lambda x: list(x), 
                                   'hierarchy_level4': lambda x: list(x),                                                                                              
                                    })

In [128]:
offers_df_agg[offers_df_agg.columns[:20]]

,Offer_ID,Promo_type,start_date,end_date,train_test_group,sku,hierarchy_level1,hierarchy_level2,hierarchy_level3,hierarchy_level4,num_skus,num_hl1,num_hl2,num_hl3,num_hl4,hl_1_0,hl_1_1,hl_2_0,hl_2_1,hl_2_2
0,10,Biweekly,2020-04-02,2020-04-15,train,"[66dd48b798614b7d193a83777c8a0fdc, 172239f5f43...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[6364d3f0f495b6ab9dcf8d3b5c6e0b01, 6364d3f0f49...","[7486cef2522ee03547cfb970a404a874, 7486cef2522...","[3f6ab5dd77f73b11f122ac7c0fe2de76, 3f6ab5dd77f...",8,1,1,1,1,0.0,8.0,0.0,0.0,0.0
1,100,Seasonal,2020-10-06,2020-10-19,test,"[4d1581a093a0eb7751e1e0f62dcbe278, bc09c49e4c2...","[44a7b825383402ed937a15fb8a5bb12a, 44a7b825383...","[d67d8ab4f4c10bf22aa353e27879133c, d67d8ab4f4c...","[1be883eec3231f9fe43c35bd1b4b3bb5, 1be883eec32...","[879848e74e5c4ad8d310bd70bbdce0a5, 879848e74e5...",12,1,1,1,4,12.0,0.0,0.0,0.0,0.0
2,101,Seasonal,2020-04-07,2020-04-20,train,[8eed281d2cf9467fa01a952642fe7545],[cc9284597026dcc021735c0970ca0c93],[6ea9ab1baa0efb9e19094440c317e21b],[3c333aadfc3ee8ecb8d77ee31197d96a],[75cbd15e9b57e9917c9177ae20ef33a3],1,1,1,1,1,0.0,1.0,0.0,0.0,0.0
3,102,Seasonal,2020-04-07,2020-04-20,train,"[cdf66debace4bd35ea6559f54b10e352, 64a19ff3301...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[6c8349cc7260ae62e3b1396831a8398f, 6c8349cc726...","[149ef6419512be56a93169cd5e6fa8fd, 149ef641951...","[d88670481737b727c6dedc2cd9f8eafd, d8867048173...",11,1,1,1,1,0.0,11.0,0.0,0.0,0.0
4,103,Seasonal,2020-04-07,2020-04-20,train,[87ac83221a74e6708a5c5d9e597d779d],[cc9284597026dcc021735c0970ca0c93],[8e296a067a37563370ded05f5a3bf3ec],[4e0223a87610176ef0d24ef6d2dcde3a],[d59e067e9dfa37917a29cdbdfe46df14],1,1,1,1,1,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,F95,Facades,2020-06-11,2020-06-17,train,[ffd8add73dc2a988b86048356b1b33a2],[cc9284597026dcc021735c0970ca0c93],[6f4922f45568161a8cdf4ad2299f6d23],[09b15d48a1514d8209b192a8b8f34e48],[6aa9bd14b2edcac06a1e703e66e76017],1,1,1,1,1,0.0,1.0,0.0,0.0,0.0
885,F96,Facades,2020-06-18,2020-06-24,train,"[f0be85f7705ffbd2e4b2cb97a054b56a, b50cdf25375...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[c16a5320fa475530d9583c34fd356ef5, c16a5320fa4...","[c5d9256689c43036581f781c61f26e50, c5d9256689c...","[2e4e106f70093bd3ef9b9d4c62acc14f, 4daa16fa06f...",22,1,1,1,10,0.0,22.0,0.0,0.0,0.0
886,F97,Facades,2020-06-18,2020-06-24,train,"[0d093fdb80eaad391f98db998d1f1b5e, 55ab9a9c4f7...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[37693cfc748049e45d87b8c7d8b9aacd, 37693cfc748...","[db9eeb7e678863649bce209842e0d164, db9eeb7e678...","[c9433f08a67b8c18ff388484beee4efa, 7599d4e0d9b...",14,1,1,1,2,0.0,14.0,0.0,0.0,0.0
887,F98,Facades,2020-06-18,2020-06-24,train,"[ef7bf412117548cb80b3f3b33a12977d, 7a8675a8f69...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[6512bd43d9caa6e02c990b0a82652dca, 6512bd43d9c...","[c667d53acd899a97a85de0c201ba99be, c667d53acd8...","[5f958aa50f12213d724b476ac436a658, 5f958aa50f1...",3,1,1,2,2,0.0,3.0,0.0,0.0,0.0
888,F99,Facades,2020-06-18,2020-06-24,train,"[5e3039a269ff005f2c76cea16c0cf783, 6be0907d36f...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[9bf31c7ff062936a96d3c8bd1f8f2ff3, 9bf31c7ff06...","[77f959f119f4fb2321e9ce801e2f5163, 5cbdfd0dfa2...","[4b49773c29adff41f2bfd2e175a051ed, a02809f6be5...",2,1,1,2,2,0.0,2.0,0.0,0.0,0.0

In [29]:
len(offers_df['Offer_ID'].unique()), offers_df_agg.shape

(889, (889, 10))

In [26]:
offers_df_agg.reset_index(inplace=True)

In [30]:
offers_df_agg['num_skus'] = offers_df_agg['sku'].apply(lambda x: len(set(x)))
offers_df_agg['num_hl1'] = offers_df_agg['hierarchy_level1'].apply(lambda x: len(set(x)))
offers_df_agg['num_hl2'] = offers_df_agg['hierarchy_level2'].apply(lambda x: len(set(x)))
offers_df_agg['num_hl3'] = offers_df_agg['hierarchy_level3'].apply(lambda x: len(set(x)))
offers_df_agg['num_hl4'] = offers_df_agg['hierarchy_level4'].apply(lambda x: len(set(x)))

In [32]:
offers_df_agg.columns

Index(['Offer_ID', 'Promo_type', 'start_date', 'end_date', 'train_test_group',
       'sku', 'hierarchy_level1', 'hierarchy_level2', 'hierarchy_level3',
       'hierarchy_level4', 'num_skus', 'num_hl1', 'num_hl2', 'num_hl3',
       'num_hl4'],
      dtype='object')

In [87]:
from collections import Counter

def category_map(level): 
    global hierarchy_df
    if level not in [1, 2, 3, 4]: 
        raise ValueError 
    
    cat_list = hierarchy_df[f'hierarchy_level{level}'].unique()
    cat_map = {k:v for v, k in enumerate(cat_list)} 
    headers = [f'hl_{level}_{i}' for i, v in enumerate(cat_list)]
    return headers, cat_map 

def add_category_at_level(df, level): 
    COL_NAME = 'hl_{}_{}'
    
    cat_headers, cat_map = category_map(level)    
    df[cat_headers] = np.zeros((df.shape[0], len(cat_headers)))
    
    for i, row in df.iterrows():
        cats = row[f'hierarchy_level{level}']        
        cat_ct = Counter(cats)
        for cat in cat_ct: 
            cat_idx = cat_map[cat] 
            df[COL_NAME.format(level, cat_idx)].loc[i] = cat_ct[cat]
    return cat_map

In [83]:
offers_df_agg.shape, offers_df_agg.columns

((889, 17),
 Index(['Offer_ID', 'Promo_type', 'start_date', 'end_date', 'train_test_group',
        'sku', 'hierarchy_level1', 'hierarchy_level2', 'hierarchy_level3',
        'hierarchy_level4', 'num_skus', 'num_hl1', 'num_hl2', 'num_hl3',
        'num_hl4', 'hl_1_0', 'hl_1_1'],
       dtype='object'))

In [84]:
add_category_at_level(offers_df_agg, 1)
add_category_at_level(offers_df_agg, 2)
add_category_at_level(offers_df_agg, 3)
add_category_at_level(offers_df_agg, 4)
offers_df_agg.shape

/anaconda/envs/py38_default/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,Offer_ID,Promo_type,start_date,end_date,train_test_group,sku,hierarchy_level1,hierarchy_level2,hierarchy_level3,hierarchy_level4,num_skus,num_hl1,num_hl2,num_hl3,num_hl4,hl_1_0,hl_1_1
0,10,Biweekly,2020-04-02,2020-04-15,train,"[66dd48b798614b7d193a83777c8a0fdc, 172239f5f43...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[6364d3f0f495b6ab9dcf8d3b5c6e0b01, 6364d3f0f49...","[7486cef2522ee03547cfb970a404a874, 7486cef2522...","[3f6ab5dd77f73b11f122ac7c0fe2de76, 3f6ab5dd77f...",8,1,1,1,1,0.0,8.0
1,100,Seasonal,2020-10-06,2020-10-19,test,"[4d1581a093a0eb7751e1e0f62dcbe278, bc09c49e4c2...","[44a7b825383402ed937a15fb8a5bb12a, 44a7b825383...","[d67d8ab4f4c10bf22aa353e27879133c, d67d8ab4f4c...","[1be883eec3231f9fe43c35bd1b4b3bb5, 1be883eec32...","[879848e74e5c4ad8d310bd70bbdce0a5, 879848e74e5...",12,1,1,1,4,12.0,0.0
2,101,Seasonal,2020-04-07,2020-04-20,train,[8eed281d2cf9467fa01a952642fe7545],[cc9284597026dcc021735c0970ca0c93],[6ea9ab1baa0efb9e19094440c317e21b],[3c333aadfc3ee8ecb8d77ee31197d96a],[75cbd15e9b57e9917c9177ae20ef33a3],1,1,1,1,1,0.0,1.0
3,102,Seasonal,2020-04-07,2020-04-20,train,"[cdf66debace4bd35ea6559f54b10e352, 64a19ff3301...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[6c8349cc7260ae62e3b1396831a8398f, 6c8349cc726...","[149ef6419512be56a93169cd5e6fa8fd, 149ef641951...","[d88670481737b727c6dedc2cd9f8eafd, d8867048173...",11,1,1,1,1,0.0,11.0
4,103,Seasonal,2020-04-07,2020-04-20,train,[87ac83221a74e6708a5c5d9e597d779d],[cc9284597026dcc021735c0970ca0c93],[8e296a067a37563370ded05f5a3bf3ec],[4e0223a87610176ef0d24ef6d2dcde3a],[d59e067e9dfa37917a29cdbdfe46df14],1,1,1,1,1,0.0,1.0

## SKU in other Offers Feats

In [90]:
offers_df.head()

,Promo_type,Offer_ID,sku,start_date,end_date,train_test_group,hierarchy_level1,hierarchy_level2,hierarchy_level3,hierarchy_level4
0,Facades,F26,71c770923102af052f64c6036c9dd590,2020-02-13,2020-02-19,train,44a7b825383402ed937a15fb8a5bb12a,a5771bce93e200c36f7cd9dfd0e5deaa,37968ad196a5085f5ed91e58df8c2cef,4bc9b0056ab9c25ecd8794e2cdac48ad
1,Facades,F2,e87788b585ead792a4d40f7de18f2f76,2020-01-02,2020-01-08,train,44a7b825383402ed937a15fb8a5bb12a,d67d8ab4f4c10bf22aa353e27879133c,3341f6f048384ec73a7ba2e77d2db48b,ee087215b0e0761bc986abd837ac7ab7
2,Facades,F9,5ae92b5e465d630285677e80b43fe5f7,2020-01-16,2020-01-22,train,cc9284597026dcc021735c0970ca0c93,c16a5320fa475530d9583c34fd356ef5,c5d9256689c43036581f781c61f26e50,cf7805f047a622715d928dff36535c76
3,Facades,F45,0790b472112a765339f0e5c3f66816ee,2020-03-19,2020-03-25,train,cc9284597026dcc021735c0970ca0c93,33e75ff09dd601bbe69f351039152189,b4fd1d2cb085390fbbadae65e07876a7,8ce911d01167e72108017ec043de6352
4,Facades,F191,e87788b585ead792a4d40f7de18f2f76,2020-11-12,2020-11-18,test,44a7b825383402ed937a15fb8a5bb12a,d67d8ab4f4c10bf22aa353e27879133c,3341f6f048384ec73a7ba2e77d2db48b,ee087215b0e0761bc986abd837ac7ab7

In [92]:
offers_df_sku_in_ofrs = offers_df.groupby(['sku', 'start_date','end_date']).agg({'Offer_ID':lambda x: list(x)})
offers_df_sku_in_ofrs.shape

(9708, 1)

In [95]:
offers_df_sku_in_ofrs['many_ofrs'] = offers_df_sku_in_ofrs['Offer_ID'].apply(len)
offers_df_sku_in_ofrs.head()

                                                       Offer_ID  many_ofrs
sku                              start_date end_date
00033dd12618c86f7451b1e18af8bb60 2020-01-28 2020-02-10    [459]          1
00104b38b0b48f14e6b94c294a91356b 2020-01-03 2020-01-13     [36]          1
                                 2020-06-30 2020-07-13    [560]          1
                                 2020-08-11 2020-08-31    [158]          1
                                 2020-11-03 2020-11-16     [66]          1

In [99]:
offers_df_sku_in_ofrs.reset_index(inplace=True)

In [140]:
list(offers_df_sku_in_ofrs_dict.items())[:5]

[('0701047a1d162a6d920cc6364f675e45', array([2])),
 ('1467b1d6e6328f9c8f99c079bf0d8c4a', array([2])),
 ('1656735867620714199a487f9531b0fd', array([2])),
 ('19093ad01d9eda096d88c7719643751f', array([2])),
 ('1accaece89aad30aeab8ee5a72a2ecf0', array([2]))]

In [132]:
offers_df_by_day.columns

Index(['index', 'Promo_type', 'Offer_ID', 'sku', 'start_date', 'end_date',
       'train_test_group', 'date'],
      dtype='object')

In [133]:
offers_df_by_day_agg = offers_df_by_day.groupby(['sku', 'date']).agg({"Offer_ID": lambda x: list(x), 
                                                                      "Offer_ID":"count"})
offers_df_by_day_agg.head()

                                             Offer_ID
sku                              date
00033dd12618c86f7451b1e18af8bb60 2020-01-28         1
                                 2020-01-29         1
                                 2020-01-30         1
                                 2020-01-31         1
                                 2020-02-01         1

In [134]:
offers_df_by_day_agg.shape, offers_df_by_day.shape

((133980, 1), (134703, 8))

In [137]:
pd.DataFrame.to_dict?

In [138]:
d = offers_df_by_day_agg.to_dict(orient='index')
list(d.items())[:5]

[(('00033dd12618c86f7451b1e18af8bb60', '2020-01-28'), {'Offer_ID': 1}),
 (('00033dd12618c86f7451b1e18af8bb60', '2020-01-29'), {'Offer_ID': 1}),
 (('00033dd12618c86f7451b1e18af8bb60', '2020-01-30'), {'Offer_ID': 1}),
 (('00033dd12618c86f7451b1e18af8bb60', '2020-01-31'), {'Offer_ID': 1}),
 (('00033dd12618c86f7451b1e18af8bb60', '2020-02-01'), {'Offer_ID': 1})]

In [139]:
d[('00033dd12618c86f7451b1e18af8bb60', '2020-01-28')]

{'Offer_ID': 1}

In [145]:
offers_df_agg.shape, offers_df_agg.columns[:20]

((889, 2618),
 Index(['Offer_ID', 'Promo_type', 'start_date', 'end_date', 'train_test_group',
        'sku', 'hierarchy_level1', 'hierarchy_level2', 'hierarchy_level3',
        'hierarchy_level4', 'num_skus', 'num_hl1', 'num_hl2', 'num_hl3',
        'num_hl4', 'hl_1_0', 'hl_1_1', 'hl_2_0', 'hl_2_1', 'hl_2_2'],
       dtype='object'))

In [146]:
offers_df_sku_in_ofrs.columns

Index(['sku', 'start_date', 'end_date', 'Offer_ID', 'many_ofrs'], dtype='object')

In [163]:
def add_if_in_other_promos(df):
    global offers_df_sku_in_ofrs
    
    df['num_other_promos'] = np.zeros(df.shape[0])
    df['num_skus_in_other_promos'] = np.zeros(df.shape[0])
    
    for i, row in df.iterrows(): 
        skus = row['sku']
        start_date = row['start_date'] 
        end_date = row['end_date'] 
        
        offers_set = set()
        sku_ct = 0 
        for sku in skus: 
             offers = offers_df_sku_in_ofrs[(offers_df_sku_in_ofrs['sku'] == sku) 
                                 & (offers_df_sku_in_ofrs['start_date'] == start_date)
                                 & (offers_df_sku_in_ofrs['end_date'] == end_date)]['Offer_ID'].iloc[0]
                
             offers_set.update(offers)    
             if len(offers) > 1:
                sku_ct += 1 

        df['num_other_promos'].iloc[i] = len(offers_set) - 1
        df['num_skus_in_other_promos'].iloc[i] = sku_ct

In [166]:
add_if_in_other_promos(offers_df_agg)

/anaconda/envs/py38_default/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [168]:
offers_df_agg[offers_df_agg['num_other_promos'].sum

,duration,mo,start_day_of_week,end_day_of_week,UpLift,num_other_promos,num_skus_in_other_promos
884,7 days,6,3,2,2.169574,0.0,0.0
885,7 days,6,3,2,0.401636,0.0,0.0
886,7 days,6,3,2,2.276210,0.0,0.0
887,7 days,6,3,2,1.593010,0.0,0.0
888,7 days,6,3,2,0.694265,0.0,0.0

In [169]:
offers_df_agg['num_other_promos'].sum(), offers_df_agg['num_skus_in_other_promos'].sum()

(22.0, 136.0)

In [170]:
offers_df_agg.drop('UpLift', axis=1, inplace=True)

### Time based feats

In [108]:
offers_df_agg['duration'] = offers_df_agg['end_date'] - offers_df_agg['start_date'] + pd.Timedelta(days=1)
offers_df_agg['mo'] = offers_df_agg['start_date'].dt.month
offers_df_agg['start_day_of_week'] = offers_df_agg['start_date'].dt.dayofweek
offers_df_agg['end_day_of_week'] = offers_df_agg['end_date'].dt.dayofweek

In [109]:
offers_df_agg.shape

(889, 2617)

### Pred-period Feats

In [177]:
offers_df_agg[offers_df_agg.columns[:10]].head()

,Offer_ID,Promo_type,start_date,end_date,train_test_group,sku,hierarchy_level1,hierarchy_level2,hierarchy_level3,hierarchy_level4
0,10,Biweekly,2020-04-02,2020-04-15,train,"[66dd48b798614b7d193a83777c8a0fdc, 172239f5f43...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[6364d3f0f495b6ab9dcf8d3b5c6e0b01, 6364d3f0f49...","[7486cef2522ee03547cfb970a404a874, 7486cef2522...","[3f6ab5dd77f73b11f122ac7c0fe2de76, 3f6ab5dd77f..."
1,100,Seasonal,2020-10-06,2020-10-19,test,"[4d1581a093a0eb7751e1e0f62dcbe278, bc09c49e4c2...","[44a7b825383402ed937a15fb8a5bb12a, 44a7b825383...","[d67d8ab4f4c10bf22aa353e27879133c, d67d8ab4f4c...","[1be883eec3231f9fe43c35bd1b4b3bb5, 1be883eec32...","[879848e74e5c4ad8d310bd70bbdce0a5, 879848e74e5..."
2,101,Seasonal,2020-04-07,2020-04-20,train,[8eed281d2cf9467fa01a952642fe7545],[cc9284597026dcc021735c0970ca0c93],[6ea9ab1baa0efb9e19094440c317e21b],[3c333aadfc3ee8ecb8d77ee31197d96a],[75cbd15e9b57e9917c9177ae20ef33a3]
3,102,Seasonal,2020-04-07,2020-04-20,train,"[cdf66debace4bd35ea6559f54b10e352, 64a19ff3301...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[6c8349cc7260ae62e3b1396831a8398f, 6c8349cc726...","[149ef6419512be56a93169cd5e6fa8fd, 149ef641951...","[d88670481737b727c6dedc2cd9f8eafd, d8867048173..."
4,103,Seasonal,2020-04-07,2020-04-20,train,[87ac83221a74e6708a5c5d9e597d779d],[cc9284597026dcc021735c0970ca0c93],[8e296a067a37563370ded05f5a3bf3ec],[4e0223a87610176ef0d24ef6d2dcde3a],[d59e067e9dfa37917a29cdbdfe46df14]

In [178]:
offers_df_agg['pred_start_date'] = offers_df_agg['start_date'] - offers_df_agg['duration']
offers_df_agg['pred_end_date'] = offers_df_agg['end_date'] - offers_df_agg['duration']

In [183]:
checks_ofr_df.head(2)

,client_id,date,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,selling_price,region_name,index,Promo_type,Offer_ID,start_date,end_date,train_test_group,hierarchy_level1,hierarchy_level2,hierarchy_level3,hierarchy_level4,UpLift
0,d9da50b77962ad6401d0527db5b65b04,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b17c870027bb4a22e3aedb971bc00def,b3deb0286313f0b888c0eac49580cc23,1,5.0,133.40,249.45,152f1b77a32508570e2745daf9ce7aec,NaN,NaN,NaN,NaN,NaN,NaN,44a7b825383402ed937a15fb8a5bb12a,ea5d2f1c4608232e07d3aa3d998e5135,d994e3728ba5e28defb88a3289cd7ee8,b84633d3396f28a04889d2e5a41c7b0b,NaN
1,d9da50b77962ad6401d0527db5b65b04,2019-12-30,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b9ef00e971d0fb459a765708efba70c0,680a96609351230ed00e1d1090371cbc,2,1.0,96.77,118.99,152f1b77a32508570e2745daf9ce7aec,NaN,NaN,NaN,NaN,NaN,NaN,44a7b825383402ed937a15fb8a5bb12a,d645920e395fedad7bbbed0eca3fe2e0,6693a7aacb8a2e74c6f5fe91bc39864b,878b4140ebdb1b79f378d2cf0cc3245c,NaN

In [214]:
def pred_period_sales_and_items(df):
    global checks_ofr_df
        
        
    df['avg_mean_num_pred'] = np.nan
    df['avg_max_num_pred'] = np.nan
    df['avg_min_num_pred'] = np.nan

    df['avg_mean_suppl_pred'] = np.nan
    df['avg_max_suppl_pred'] = np.nan
    df['avg_min_suppl_pred'] = np.nan

    df['avg_mean_sales_pred'] = np.nan
    df['avg_max_sales_pred'] = np.nan
    df['avg_min_sales_pred'] = np.nan    
                
    for i, row in df.iterrows(): 
        skus = row['sku']
        pred_start_date = row['pred_start_date'] 
        pred_end_date = row['pred_end_date'] 
        #print(type(row['pred_start_date']))
        
        mean_nums = 0
        max_nums = 0
        min_nums = 0 
        
        mean_suppl = 0
        max_suppl = 0 
        min_suppl = 0 
        
        mean_sales = 0
        max_sales = 0 
        min_sales = 0 
        
        for sku in skus: 
            sales_for_sku_df = checks_ofr_df[(checks_ofr_df['sku'] == sku) 
                          & (checks_ofr_df['date'] <= row['pred_end_date'])
                         & (checks_ofr_df['date'] >= row['pred_start_date'])
                              ][['num_sales', 'supplier_price', 'selling_price']]
            mean_nums += sales_for_sku_df['num_sales'].mean()
            max_nums += sales_for_sku_df['num_sales'].max()
            min_nums += sales_for_sku_df['num_sales'].min() 

            mean_suppl += sales_for_sku_df['supplier_price'].mean()
            max_suppl += sales_for_sku_df['supplier_price'].max()
            min_suppl += sales_for_sku_df['supplier_price'].min()

            mean_sales += sales_for_sku_df['selling_price'].mean()
            max_sales += sales_for_sku_df['selling_price'].max()
            min_sales += sales_for_sku_df['selling_price'].min()
            
        
        df['avg_mean_num_pred'].iloc[i] = mean_nums/len(skus)
        df['avg_max_num_pred'].iloc[i] = max_nums/len(skus)
        df['avg_min_num_pred'].iloc[i] = min_suppl/len(skus)

        df['avg_mean_suppl_pred'].iloc[i] = mean_suppl/len(skus)
        df['avg_max_suppl_pred'].iloc[i] = max_suppl/len(skus)
        df['avg_min_suppl_pred'].iloc[i] = mean_nums/len(skus)
        
        df['avg_mean_sales_pred'].iloc[i] = mean_sales/len(skus)
        df['avg_max_sales_pred'].iloc[i] = max_sales/len(skus)
        df['avg_min_sales_pred'].iloc[i] = min_sales/len(skus)

In [215]:
df = offers_df_agg.iloc[:3].copy()
df[df.columns[:3]]

  Offer_ID Promo_type start_date
0       10   Biweekly 2020-04-02
1      100   Seasonal 2020-10-06
2      101   Seasonal 2020-04-07

In [218]:
pred_period_sales_and_items(offers_df_agg)
offers_df_agg.shape

/anaconda/envs/py38_default/lib/python3.8/site-packages/pandas/core/indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

(889, 2631)

In [220]:
offers_df_agg.columns[-20:]

Index(['hl_4_2117', 'hl_4_2118', 'duration', 'mo', 'start_day_of_week',
       'end_day_of_week', 'num_other_promos', 'num_skus_in_other_promos',
       'UpLift', 'pred_start_date', 'pred_end_date', 'avg_mean_num_pred',
       'avg_max_num_pred', 'avg_min_num_pred', 'avg_mean_suppl_pred',
       'avg_max_suppl_pred', 'avg_min_suppl_pred', 'avg_mean_sales_pred',
       'avg_max_sales_pred', 'avg_min_sales_pred'],
      dtype='object')

In [225]:
offers_df_agg_feat = offers_df_agg.drop(columns_to_exclude, axis=1)
offers_df_agg_feat.shape

(889, 2626)

In [265]:
!ls ./data

off_to_skus_map.json		     submission6.csv
offers_df_agg.csv		     test_Offer_ID_map_category_ct.json
offers_df_agg.json		     test_category_ct.csv
offers_df_agg_sales_feat.csv	     test_other_ofrs.csv
offers_df_agg_sales_feat_w_diff.csv  test_sales_feats.csv
submission1.csv			     test_sales_feats_w_diff.csv
submission1hr.csv		     train_category_ct.csv
submission2.csv			     train_other_ofrs.csv
submission3.csv			     train_sales_feats.csv
submission4.csv			     train_sales_feats_w_diff.csv
submission5.csv

In [267]:
offers_df_agg_feat = pd.read_csv('./data/offers_df_agg_sales_feat_w_diff.csv')
offers_df_agg_feat.shape

/anaconda/envs/py38_default/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(889, 2633)

In [272]:

for c in offers_df_agg_feat.columns: 
    if c.find('UpLift') > -1: print(c)

UpLift

In [273]:
offers_df_agg_feat.drop('Unnamed: 0', axis=1, inplace=True)

In [263]:
offers_df_agg_feat.shape

(889, 2631)

In [282]:
offers_df_agg = offers_df_agg_feats

In [283]:
offers_df_agg.shape

(889, 2627)

In [284]:
offers_df_agg['diff_min_avg_sls'] = offers_df_agg['avg_mean_sales_pred'] - offers_df_agg['avg_min_sales_pred']
offers_df_agg['diff_max_avg_sls'] = offers_df_agg['avg_max_sales_pred'] - offers_df_agg['avg_mean_sales_pred']
offers_df_agg['diff_min_avg_nums'] = offers_df_agg['avg_mean_num_pred'] - offers_df_agg['avg_min_num_pred']
offers_df_agg['diff_max_avg_nums'] = offers_df_agg['avg_max_num_pred'] - offers_df_agg['avg_mean_num_pred']
offers_df_agg['diff_min_avg_suppl'] = offers_df_agg['avg_mean_suppl_pred'] - offers_df_agg['avg_min_suppl_pred']
offers_df_agg['diff_max_avg_suppl'] = offers_df_agg['avg_max_suppl_pred'] - offers_df_agg['avg_mean_suppl_pred']
offers_df_agg.shape

(889, 2633)

In [285]:
offers_df_agg[offers_df_agg.columns[-20:]].head()

,num_skus_in_other_promos,UpLift_x,pred_start_date,pred_end_date,avg_mean_num_pred,avg_max_num_pred,avg_min_num_pred,avg_mean_suppl_pred,avg_max_suppl_pred,avg_min_suppl_pred,avg_mean_sales_pred,avg_max_sales_pred,avg_min_sales_pred,UpLift,diff_min_avg_sls,diff_max_avg_sls,diff_min_avg_nums,diff_max_avg_nums,diff_min_avg_suppl,diff_max_avg_suppl
0,0.0,15.941591,2020-03-19,2020-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.941591,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,NaN,2020-09-22,2020-10-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,1.761594,2020-03-24,2020-04-06,0.663014,1.194000,69.78,126.346849,227.170000,0.663014,218.424795,394.010000,120.120000,1.761594,98.304795,175.585205,-69.116986,0.530986,125.683836,100.823151
3,0.0,0.630470,2020-03-24,2020-04-06,1.047536,2.090909,68.29,71.896870,143.733636,1.047536,153.594181,335.358182,110.819091,0.630470,42.775091,181.764000,-67.242464,1.043373,70.849334,71.836766
4,0.0,2.505152,2020-03-24,2020-04-06,1.975000,14.000000,70.68,158.014375,1130.640000,1.975000,207.715375,1580.460000,75.990000,2.505152,131.725375,1372.744625,-68.705000,12.025000,156.039375,972.625625

In [286]:
for c in offers_df_agg.columns: 
    if c.find('UpLift') > -1: print(c)

UpLift_x
UpLift

In [287]:
offers_df_agg.drop(['UpLift', 'UpLift_x'], axis=1, inplace=True)

In [289]:
offers_df_agg.shape

(889, 2631)

### Adding UpLift

In [110]:
uplift_df.shape

(740, 2)

In [248]:
offers_df_agg.drop('UpLift', axis=1, inplace=True)

In [290]:
offers_df_agg = offers_df_agg.merge(uplift_df, on='Offer_ID', how='left')
offers_df_agg.shape

(889, 2632)

In [291]:
offers_df_agg.to_csv('./data/offers_df_agg_sales_feat_w_diff.csv', index=False)

### Final Feats

In [115]:
offers_df_agg.columns[:20], offers_df_agg.columns[-20:]

(Index(['Offer_ID', 'Promo_type', 'start_date', 'end_date', 'train_test_group',
        'sku', 'hierarchy_level1', 'hierarchy_level2', 'hierarchy_level3',
        'hierarchy_level4', 'num_skus', 'num_hl1', 'num_hl2', 'num_hl3',
        'num_hl4', 'hl_1_0', 'hl_1_1', 'hl_2_0', 'hl_2_1', 'hl_2_2'],
       dtype='object'),
 Index(['hl_4_2104', 'hl_4_2105', 'hl_4_2106', 'hl_4_2107', 'hl_4_2108',
        'hl_4_2109', 'hl_4_2110', 'hl_4_2111', 'hl_4_2112', 'hl_4_2113',
        'hl_4_2114', 'hl_4_2115', 'hl_4_2116', 'hl_4_2117', 'hl_4_2118',
        'duration', 'mo', 'start_day_of_week', 'end_day_of_week', 'UpLift'],
       dtype='object'))

In [223]:
# NB: 'Offer_ID' is droped before saving as needed for  mapping instances to Offer_IDs
columns_to_exclude = ['sku', 'hierarchy_level1', 'hierarchy_level2', 'hierarchy_level3','hierarchy_level4']

In [292]:
offers_df_agg_feats = offers_df_agg.drop(columns=columns_to_exclude, axis=1)
offers_df_agg_feats.shape

KeyError: "['sku' 'hierarchy_level1' 'hierarchy_level2' 'hierarchy_level3'\n 'hierarchy_level4'] not found in axis"

In [293]:
offers_df_agg_feats = offers_df_agg

In [200]:
offers_df_agg_feats.head()

,Offer_ID,duration,Promo_type,start_date,end_date,train_test_group,num_skus,num_hl1,num_hl2,num_hl3,num_hl4,mo,start_day_of_week,end_day_of_week,UpLift
0,10,13 days,Biweekly,2020-04-02,2020-04-15,train,8,1,1,1,1,4,3,2,15.941591
1,100,13 days,Seasonal,2020-10-06,2020-10-19,test,12,1,1,1,4,10,1,0,NaN
2,101,13 days,Seasonal,2020-04-07,2020-04-20,train,1,1,1,1,1,4,1,0,1.761594
3,102,13 days,Seasonal,2020-04-07,2020-04-20,train,11,1,1,1,1,4,1,0,0.630470
4,103,13 days,Seasonal,2020-04-07,2020-04-20,train,1,1,1,1,1,4,1,0,2.505152

In [294]:
offers_df_agg_feats[offers_df_agg_feats.columns[-10:]].head()

,avg_mean_sales_pred,avg_max_sales_pred,avg_min_sales_pred,diff_min_avg_sls,diff_max_avg_sls,diff_min_avg_nums,diff_max_avg_nums,diff_min_avg_suppl,diff_max_avg_suppl,UpLift
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.941591
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,218.424795,394.010000,120.120000,98.304795,175.585205,-69.116986,0.530986,125.683836,100.823151,1.761594
3,153.594181,335.358182,110.819091,42.775091,181.764000,-67.242464,1.043373,70.849334,71.836766,0.630470
4,207.715375,1580.460000,75.990000,131.725375,1372.744625,-68.705000,12.025000,156.039375,972.625625,2.505152

In [295]:
offers_df_agg_feats_train = offers_df_agg_feats[offers_df_agg_feats['train_test_group'] == 'train']
offers_df_agg_feats_train = offers_df_agg_feats_train.drop(['train_test_group', 'Offer_ID'], axis=1)
offers_df_agg_feats_train.to_csv('./data/train_sales_feats_w_diff.csv', index=False)
offers_df_agg_feats_train.shape

(740, 2630)

In [296]:
offers_df_agg_feats_test = offers_df_agg_feats[offers_df_agg_feats['train_test_group'] == 'test']
offers_df_agg_feats_test = offers_df_agg_feats_test.drop(['train_test_group', 'Offer_ID', 'UpLift'], axis=1)
offers_df_agg_feats_test.to_csv('./data/test_sales_feats_w_diff.csv', index=False)
offers_df_agg_feats_test.shape

(149, 2629)

In [125]:
import json 
offer_ids_test = list(offers_df_agg_feats[offers_df_agg_feats['train_test_group'] == 'test']['Offer_ID'])
json.dump(offer_ids_test, open('./data/test_Offer_ID_map_category_ct.json', 'w'))
len(offer_ids_test)

149

In [196]:
from sklearn.preprocessing import OneHotEncoder

In [219]:
enc = OneHotEncoder(handle_unknown='ignore')

In [212]:
offers_df_agg_feats.head()

,Offer_ID,duration,Promo_type,start_date,end_date,train_test_group,num_skus,num_hl1,num_hl2,num_hl3,num_hl4,mo,start_day_of_week,end_day_of_week,UpLift
0,10,13 days,Biweekly,2020-04-02,2020-04-15,train,8,1,1,1,1,4,3,2,15.941591
1,100,13 days,Seasonal,2020-10-06,2020-10-19,test,12,1,1,1,4,10,1,0,NaN
2,101,13 days,Seasonal,2020-04-07,2020-04-20,train,1,1,1,1,1,4,1,0,1.761594
3,102,13 days,Seasonal,2020-04-07,2020-04-20,train,11,1,1,1,1,4,1,0,0.630470
4,103,13 days,Seasonal,2020-04-07,2020-04-20,train,1,1,1,1,1,4,1,0,2.505152

In [213]:
offers_df_agg_feats.columns

Index(['Offer_ID', 'duration', 'Promo_type', 'start_date', 'end_date',
       'train_test_group', 'num_skus', 'num_hl1', 'num_hl2', 'num_hl3',
       'num_hl4', 'mo', 'start_day_of_week', 'end_day_of_week', 'UpLift'],
      dtype='object')

In [222]:
feat_columns = ['duration', 'Promo_type', 'start_date', 'end_date', 'num_skus', 'num_hl1', 'num_hl2', 'num_hl3',
       'num_hl4', 'mo', 'start_day_of_week', 'end_day_of_week']
len(feat_columns)

12

In [221]:
offers_df_agg_feats_train.columns

Index(['duration', 'Promo_type', 'start_date', 'end_date', 'num_skus',
       'num_hl1', 'num_hl2', 'num_hl3', 'num_hl4', 'mo', 'start_day_of_week',
       'end_day_of_week', 'UpLift'],
      dtype='object')

In [223]:
enc.fit(offers_df_agg_feats_train[feat_columns])

OneHotEncoder(handle_unknown='ignore')

In [224]:
offers_df_agg_feats_train_enc = enc.transform(offers_df_agg_feats_train[feat_columns])
offers_df_agg_feats_test_enc = enc.transform(offers_df_agg_feats_test)

In [225]:
type(offers_df_agg_feats_test_enc)

scipy.sparse.csr.csr_matrix

In [ ]:
offers_df_agg

In [193]:
offers_df_agg.columns

Index(['Offer_ID', 'duration', 'Promo_type', 'start_date', 'end_date',
       'train_test_group', 'sku', 'hierarchy_level1', 'hierarchy_level2',
       'hierarchy_level3', 'hierarchy_level4', 'num_skus', 'num_hl1',
       'num_hl2', 'num_hl3', 'num_hl4', 'mo', 'start_day_of_week',
       'end_day_of_week'],
      dtype='object')

In [195]:
offers_df_agg.drop?

In [194]:
offers_df_agg_feats = offers_df_agg.drop(columns=['sku', 'hierarchy_level1', 'hierarchy_level2',
       'hierarchy_level3', 'hierarchy_level4'], axis=1 ,  )

TypeError: drop() got an unexpected keyword argument 'subset'

In [191]:
offers_df_agg[offers_df_agg.columns[:-1]].head()

,Offer_ID,duration,Promo_type,start_date,end_date,train_test_group,sku,hierarchy_level1,hierarchy_level2,hierarchy_level3,hierarchy_level4,num_skus,num_hl1,num_hl2,num_hl3,num_hl4,mo,start_day_of_week
0,10,13 days,Biweekly,2020-04-02,2020-04-15,train,"[66dd48b798614b7d193a83777c8a0fdc, 172239f5f43...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[6364d3f0f495b6ab9dcf8d3b5c6e0b01, 6364d3f0f49...","[7486cef2522ee03547cfb970a404a874, 7486cef2522...","[3f6ab5dd77f73b11f122ac7c0fe2de76, 3f6ab5dd77f...",8,1,1,1,1,4,3
1,100,13 days,Seasonal,2020-10-06,2020-10-19,test,"[4d1581a093a0eb7751e1e0f62dcbe278, bc09c49e4c2...","[44a7b825383402ed937a15fb8a5bb12a, 44a7b825383...","[d67d8ab4f4c10bf22aa353e27879133c, d67d8ab4f4c...","[1be883eec3231f9fe43c35bd1b4b3bb5, 1be883eec32...","[879848e74e5c4ad8d310bd70bbdce0a5, 879848e74e5...",12,1,1,1,4,10,1
2,101,13 days,Seasonal,2020-04-07,2020-04-20,train,[8eed281d2cf9467fa01a952642fe7545],[cc9284597026dcc021735c0970ca0c93],[6ea9ab1baa0efb9e19094440c317e21b],[3c333aadfc3ee8ecb8d77ee31197d96a],[75cbd15e9b57e9917c9177ae20ef33a3],1,1,1,1,1,4,1
3,102,13 days,Seasonal,2020-04-07,2020-04-20,train,"[cdf66debace4bd35ea6559f54b10e352, 64a19ff3301...","[cc9284597026dcc021735c0970ca0c93, cc928459702...","[6c8349cc7260ae62e3b1396831a8398f, 6c8349cc726...","[149ef6419512be56a93169cd5e6fa8fd, 149ef641951...","[d88670481737b727c6dedc2cd9f8eafd, d8867048173...",11,1,1,1,1,4,1
4,103,13 days,Seasonal,2020-04-07,2020-04-20,train,[87ac83221a74e6708a5c5d9e597d779d],[cc9284597026dcc021735c0970ca0c93],[8e296a067a37563370ded05f5a3bf3ec],[4e0223a87610176ef0d24ef6d2dcde3a],[d59e067e9dfa37917a29cdbdfe46df14],1,1,1,1,1,4,1

In [ ]:
sales_promo

In [185]:
hierarchy_df.columns

Index(['sku', 'hierarchy_level1', 'hierarchy_level2', 'hierarchy_level3',
       'hierarchy_level4'],
      dtype='object')

In [186]:
hl1 =  list(hierarchy_df['hierarchy_level1'].unique())
hl1

['44a7b825383402ed937a15fb8a5bb12a', 'cc9284597026dcc021735c0970ca0c93']

In [ ]:
hl2 =  list(hierarchy_df['hierarchy_level2'].unique())
hl3 =  list(hierarchy_df['hierarchy_level3'].unique())
hl4 =  list(hierarchy_df['hierarchy_level4'].unique())

In [ ]:
def hierarchy_to_counts(df):

In [ ]:
def avg_num_sold_items(skus, start_date, end_date):