In [1]:
!ls data

20210518_checks.csv                 20210521_offers.csv
20210518_hierarchy.csv              20210521_sample_submission copy.csv
20210518_uplift.csv                 20210521_sample_submission.csv

In [ ]:
!

In [7]:
!head ./data/20210518_hierarchy.csv

sku,hierarchy_level1,hierarchy_level2,hierarchy_level3,hierarchy_level4
29285fb39582e5a63c14026198c6ad51,44a7b825383402ed937a15fb8a5bb12a,9a1158154dfa42caddbd0694a4e9bdc8,f50c7035e532c49a0f6993d988e2e843,e9f41ed96e63ca1be6aea099625afe6f
f31d0af494b191ef2bc8395db9c8366f,44a7b825383402ed937a15fb8a5bb12a,ad61ab143223efbc24c7d2583be69251,84e8ce7870f0eecd843366582bb95a28,b7fa186535a75c869bfaece622c72689
49edad6669ba09dffbf278b76c53cd9d,cc9284597026dcc021735c0970ca0c93,1c383cd30b7c298ab50293adfecb7b18,2a3d6d6cc4b5e77238c1fc1bb6cdd681,7e0e0c1fe174b2d2efbf5ae0e2bc3ee9
c5c632eb0f93a233ef6db2620a464ea0,44a7b825383402ed937a15fb8a5bb12a,d82c8d1619ad8176d665453cfb2e55f0,b27d5296bede63b1493a5d321d4e8092,ec2acf8ebfdb679d5fc87caadd98fb58
9d0c7880f16c7748e1e992b28655c67f,cc9284597026dcc021735c0970ca0c93,6ea9ab1baa0efb9e19094440c317e21b,379a7ba015d8bf1c70b8add2c287c6fa,5aec2478fac4d1ee912c794c343d036c
d963d770bea22dc35c7eb760fccf1bb5,cc9284597026dcc021735c0970ca0c93,c51ce410c124a10e0db5e4b97fc2af39,996009f2374006606f4c0b0fda878af1,96502411d7aa94fd4f57aec30026242d
2ebc61a054341ebaf886b7d19de4a5ac,44a7b825383402ed937a15fb8a5bb12a,f7177163c833dff4b38fc8d2872f1ec6,2120606d6a751a93e392b46d945bba9d,52cbb5dbb41a50faf776f1a19ba39402
8d23a1dcc3bd4f80c5bfdd1c2968c32f,44a7b825383402ed937a15fb8a5bb12a,a5771bce93e200c36f7cd9dfd0e5deaa,e97399278d24e6bbf3a2d5e9c8d34262,32d4d8df25a4d20cc801336137732213
b139209608aef030a343a4f178de818d,cc9284597026dcc021735c0970ca0c93,e369853df766fa44e1ed0ff613f563bd,be1bc7997695495f756312886f566110,e94926639774d1eafcbc629369c31831

In [8]:
!head ./d—Ñata/20210521_offers.csv

Promo_type,Offer_ID,sku,start_date,end_date,train_test_group
Facades,F26,71c770923102af052f64c6036c9dd590,20200213,20200219,train
Facades,F2,e87788b585ead792a4d40f7de18f2f76,20200102,20200108,train
Facades,F9,5ae92b5e465d630285677e80b43fe5f7,20200116,20200122,train
Facades,F45,0790b472112a765339f0e5c3f66816ee,20200319,20200325,train
Facades,F191,e87788b585ead792a4d40f7de18f2f76,20201112,20201118,test
Biweekly,224,e87788b585ead792a4d40f7de18f2f76,20200514,20200527,train
Billboards,B86,cdab3403355b7fda81a1329b2f05cdec,20201029,20201111,test
Facades,F13,bfce8277f8dacd84c86bcec698f8288d,20200123,20200129,train
Facades,F23,06b43c04dfadb2fca40fd5762c317d48,20200206,20200212,train

In [19]:
!wc -l ./data/20210521_offers.csv

    9777 ./data/20210521_offers.csv

In [4]:
!head ./data/20210521_sample_submission.csv

Offer_ID,UpLift
386,0
182,0
173,0
375,0
379,0
63,0
377,0
381,0
387,0

In [6]:
!head ./data/20210518_uplift.csv

Offer_ID,UpLift
241,1.7434267078
70,16.8709476376
342,15.1856237951
B33,0.921722211
244,4.8627291451
339,2.9434833332
357,12.6769625354
B30,12.9971072396
F72,0.5118388634000001

In [17]:
!wc -l ./data/20210518_uplift.csv

     741 ./data/20210518_uplift.csv

In [9]:
!head ./data/20210518_checks.csv

client_id,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,selling_price,region_name
d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b17c870027bb4a22e3aedb971bc00def,b3deb0286313f0b888c0eac49580cc23,1,5.0,133.4,249.45,152f1b77a32508570e2745daf9ce7aec
d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b9ef00e971d0fb459a765708efba70c0,680a96609351230ed00e1d1090371cbc,2,1.0,96.77,118.99,152f1b77a32508570e2745daf9ce7aec
d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,5,2.0,2.34,7.58,152f1b77a32508570e2745daf9ce7aec
d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b25e0d42165d246d23cbf4d3efcdf583,7215ee9c7d9dc229d2921a40e899ec5f,4,1.0,23.59,39.99,152f1b77a32508570e2745daf9ce7aec
d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,a537d2eef30d47f9b11d655421ca93fb,05c93d4fa9bdbe70b5d2204ce9548ca9,3,1.0,24.02,39.99,152f1b77a32508570e2745daf9ce7aec
936445a0ef613a41958d09bc17e1bada,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,e5a4efd425d990e3273773bb36c0910f,23:35:14,40e1372e6aebbf19d15dbf80150f96c5,314afc461f361ebf6d9bcc75eb1de65c,2,0.938,141.33,211.05,152f1b77a32508570e2745daf9ce7aec
936445a0ef613a41958d09bc17e1bada,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,e5a4efd425d990e3273773bb36c0910f,23:35:14,6278f48a43fb0a23036b3a11c92e726c,e381db1eb941cd3410da420d07f745ef,3,2.164,53.06,43.27,152f1b77a32508570e2745daf9ce7aec
936445a0ef613a41958d09bc17e1bada,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,e5a4efd425d990e3273773bb36c0910f,23:35:14,60a00033f132d3f517243bd507132c75,baa99df85f4cec0cd428a542206acdd8,1,1.0,25.46,38.68,152f1b77a32508570e2745daf9ce7aec
e20ecdfa15df77d40e63805caa402e78,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,249a37b279e82b50e3bbe712dfc2f04f,10:24:15,fd08cdca069262b8323fc383564afab7,7215ee9c7d9dc229d2921a40e899ec5f,1,1.0,62.2,139.98,152f1b77a32508570e2745daf9ce7aec

In [1]:
import pandas as pd
#import modin.pandas as pd
import datetime as dt

In [2]:
checks_df = pd.read_csv('./data/20210518_checks.csv')
checks_df.shape, checks_df.columns

((21479259, 12),
 Index(['client_id', 'day', 'shop_id', 'check_id', 'time', 'sku', 'promo_id',
        'check_pos', 'num_sales', 'supplier_price', 'selling_price',
        'region_name'],
       dtype='object'))

In [74]:
checks_df.head()

,client_id,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,selling_price,region_name,date,time_str
0,d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b17c870027bb4a22e3aedb971bc00def,b3deb0286313f0b888c0eac49580cc23,1,5.0,133.40,249.45,152f1b77a32508570e2745daf9ce7aec,2019-12-30,07:28:39
1,d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b9ef00e971d0fb459a765708efba70c0,680a96609351230ed00e1d1090371cbc,2,1.0,96.77,118.99,152f1b77a32508570e2745daf9ce7aec,2019-12-30,07:28:39
2,d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b75147feae4cf8ec07fb5f2cef855def,7215ee9c7d9dc229d2921a40e899ec5f,5,2.0,2.34,7.58,152f1b77a32508570e2745daf9ce7aec,2019-12-30,07:28:39
3,d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,b25e0d42165d246d23cbf4d3efcdf583,7215ee9c7d9dc229d2921a40e899ec5f,4,1.0,23.59,39.99,152f1b77a32508570e2745daf9ce7aec,2019-12-30,07:28:39
4,d9da50b77962ad6401d0527db5b65b04,20191230,25bbdcd06c32d477f7fa1c3e4a91b032,c0b3f9c2215f924e27a6039617999c60,07:28:39,a537d2eef30d47f9b11d655421ca93fb,05c93d4fa9bdbe70b5d2204ce9548ca9,3,1.0,24.02,39.99,152f1b77a32508570e2745daf9ce7aec,2019-12-30,07:28:39

In [75]:
checks_df.dtypes

client_id                 object
day                        int64
shop_id                   object
check_id                  object
time                      object
sku                       object
promo_id                  object
check_pos                  int64
num_sales                float64
supplier_price           float64
selling_price            float64
region_name               object
date              datetime64[ns]
time_str                  object
dtype: object

In [3]:
checks_df['date'] = pd.to_datetime(checks_df['day'], format="%Y%m%d")

In [4]:
%%time 
checks_df['time'] = pd.to_datetime(checks_df['time'], format='%H:%M:%S').dt.time

In [5]:
# sampling a managebale size 
checks_df_sample = checks_df.sample(frac=0.05)
checks_df_sample.shape

(1073963, 13)

In [6]:
offers_df = pd.read_csv('./data/20210521_offers.csv')
offers_df.shape, offers_df.columns

((9776, 6),
 Index(['Promo_type', 'Offer_ID', 'sku', 'start_date', 'end_date',
        'train_test_group'],
       dtype='object'))

In [51]:
offers_df.sample(5)

,Promo_type,Offer_ID,sku,start_date,end_date,train_test_group
1771,Billboards,B33,78c3671ea7eb1ad74cc1004cf91eef06,20200416,20200429,train
4076,Biweekly,11,19830b17d5e3b05de053be17fbb863f2,20200402,20200415,train
1270,Facades,F132,15d471c031afc51602c31be5286fd548,20200820,20200826,train
6655,Seasonal,35,742027a6231e0804c14af7423bf3ed2e,20200103,20200113,train
1557,Facades,F70,72bfab21de787a37d3508e27ab8595aa,20200430,20200506,train

In [7]:
offers_df['start_date'] = pd.to_datetime(offers_df['start_date'], format="%Y%m%d")
offers_df['end_date'] = pd.to_datetime(offers_df['end_date'], format="%Y%m%d")

In [34]:
offers_df.dtypespes

Promo_type          object
Offer_ID            object
sku                 object
start_date           int64
end_date             int64
train_test_group    object
dtype: object

In [11]:
checks_df_sample = checks_df_sample.merge(offers_df, on="sku", how="outer")

In [12]:
checks_df_sample.head()

,client_id,day,shop_id,check_id,time,sku,promo_id,check_pos,num_sales,supplier_price,selling_price,region_name,date,Promo_type,Offer_ID,start_date,end_date,train_test_group
0,bdc815d138d8104aa4b544deee30953f,20200801.0,b705667936f5d49b801c56aa43bed5ea,6c9d211d053f79cad0e2c81616356308,16:15:54,cdff3b5d2ae5d4bdefc4acca9e5fa564,7215ee9c7d9dc229d2921a40e899ec5f,2.0,1.0,38.49,65.89,152f1b77a32508570e2745daf9ce7aec,2020-08-01,NaN,NaN,NaT,NaT,NaN
1,eb29576cf64cdc6f9e48ca650714ddf8,20200908.0,89befd1102aeaead24cfe2b9fa9997f9,48fd219c27327709723e1be137fe2958,16:25:20,cdff3b5d2ae5d4bdefc4acca9e5fa564,7215ee9c7d9dc229d2921a40e899ec5f,27.0,1.0,30.92,76.89,152f1b77a32508570e2745daf9ce7aec,2020-09-08,NaN,NaN,NaT,NaT,NaN
2,cc0e4625752752d0d074f27bf4cfd192,20200307.0,29150bb2319c182c944841c74d2f8d75,9a9c22fd18c819c379a0b8e9a02a4a34,15:03:48,cdff3b5d2ae5d4bdefc4acca9e5fa564,7215ee9c7d9dc229d2921a40e899ec5f,7.0,1.0,28.21,59.89,152f1b77a32508570e2745daf9ce7aec,2020-03-07,NaN,NaN,NaT,NaT,NaN
3,e7ae6cc12f6002997f2544a240c80552,20200528.0,95b09698fda1f64af16708ffb859eab9,06879e9b1bb0dddf1adf816c9ef973e5,15:04:25,cdff3b5d2ae5d4bdefc4acca9e5fa564,7215ee9c7d9dc229d2921a40e899ec5f,10.0,1.0,36.53,67.79,152f1b77a32508570e2745daf9ce7aec,2020-05-28,NaN,NaN,NaT,NaT,NaN
4,47f6ae07b8f64263b807ef96693001f4,20200409.0,2ebe25dd3a566f36f80d55440d3c3834,5ef4d965bddabd99a437db5c2c207aae,13:40:20,cdff3b5d2ae5d4bdefc4acca9e5fa564,ecce0ae6393290b8a42783d86bdc1394,11.0,1.0,29.36,49.99,152f1b77a32508570e2745daf9ce7aec,2020-04-09,NaN,NaN,NaT,NaT,NaN

In [13]:
checks_df_sample.shape

(1721180, 18)

In [15]:
checks_df_sample.isnull().sum().sort_values(ascending=False)

train_test_group    825828
end_date            825828
start_date          825828
Offer_ID            825828
Promo_type          825828
day                    319
date                   319
region_name            319
selling_price          319
client_id              319
num_sales              319
check_pos              319
promo_id               319
time                   319
check_id               319
shop_id                319
supplier_price         319
sku                      0
dtype: int64

In [18]:
checks_df_sample_clean = checks_df_sample.dropna(subset=['supplier_price'], axis=0, )
checks_df_sample_clean.shape

(1720861, 18)

In [21]:
checks_df_sample_clean.isnull().sum().sort_values(ascending=False)

train_test_group    825828
end_date            825828
start_date          825828
Offer_ID            825828
Promo_type          825828
day                      0
date                     0
region_name              0
selling_price            0
client_id                0
num_sales                0
check_pos                0
promo_id                 0
sku                      0
time                     0
check_id                 0
shop_id                  0
supplier_price           0
dtype: int64

In [22]:
checks_df_sample = checks_df_sample_clean

In [ ]:
checks_not_in_offers_df = checks_df_sample.where(checks_df_sample[''])

In [28]:
checks_df_sample['date'].between_time(checks_df_sample['start_date'], 
                                            checks_df_sample['end_date'])

TypeError: Index must be DatetimeIndex

In [30]:
checks_df_sample_dt = checks_df_sample.set_index('data')

KeyError: "None of ['data'] are in the columns"

In [26]:
checks_df_sample_btw = checks_df_sample_dt.where((checks_df_sample_dt.between_time(checks_df_sample['start_date'], 
                                            checks_df_sample['end_date']) 
                                              | checks_df_sample['Offer_ID'].isna())
                                             )
checks_df_sample_btw.shape

TypeError: Index must be DatetimeIndex

In [22]:
checks_df_sample['promo_id'].isna().value_counts()

False    1073963
Name: promo_id, dtype: int64

In [15]:
checks_df_sample['region_name'].value_counts()

152f1b77a32508570e2745daf9ce7aec    617959
7e35e74e610188414ad24235dd787c78    456004
Name: region_name, dtype: int64

In [16]:
checks_df_sample['promo_id'].value_counts().shape

(44787,)

In [20]:
offers_df = pd.read_csv('./data/20210521_offers.csv')
offers_df.shape, offers_df.columns

((9776, 6),
 Index(['Promo_type', 'Offer_ID', 'sku', 'start_date', 'end_date',
        'train_test_group'],
       dtype='object'))

In [26]:
offers_df.dtypes, checks_df_sample.dtypes

(Promo_type          object
 Offer_ID            object
 sku                 object
 start_date           int64
 end_date             int64
 train_test_group    object
 dtype: object,
 client_id          object
 day                 int64
 shop_id            object
 check_id           object
 time               object
 sku                object
 promo_id           object
 check_pos           int64
 num_sales         float64
 supplier_price    float64
 selling_price     float64
 region_name        object
 dtype: object)

In [ ]:
offers_df_sku = offers_df.set_index('sku')

In [23]:
checks_df_sample.columns

Index(['client_id', 'day', 'shop_id', 'check_id', 'time', 'sku', 'promo_id',
       'check_pos', 'num_sales', 'supplier_price', 'selling_price',
       'region_name'],
      dtype='object')

In [24]:
checks_df_sample = checks_df_sample.join(offers_df, on='sku')

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [32]:
pd.DataFrame.duplicated?